@media (min-width: 992px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="22dfe9b3-75cf-698e-dc7a-6bc2b3723a61"] {
        width: 100%;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="86218919-4662-309f-b263-8a7534869b8a"] {
        width: 100%;
        -webkit-transform: translate3d(8%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(8%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(8%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(8%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="0822006c-364b-ff71-7102-f629c8b2c373"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="34433cd0-06ea-1cef-c206-e65920d9b55f"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a088f488-e35d-5301-d97b-a011c5602540"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="cf3c6155-b7f5-3b06-0b72-63822514a1e6"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="84ff30f1-1080-cdbf-a365-14dc8e638d38"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="d0dcbe2d-923b-dc9c-63a6-d0b1c29595c5"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }
}

@media (max-width: 991px) and (min-width:768px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="22dfe9b3-75cf-698e-dc7a-6bc2b3723a61"] {
        width: 100%;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="86218919-4662-309f-b263-8a7534869b8a"] {
        width: 100%;
        -webkit-transform: translate3d(8%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(8%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(8%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(8%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="0822006c-364b-ff71-7102-f629c8b2c373"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="34433cd0-06ea-1cef-c206-e65920d9b55f"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a088f488-e35d-5301-d97b-a011c5602540"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="cf3c6155-b7f5-3b06-0b72-63822514a1e6"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="84ff30f1-1080-cdbf-a365-14dc8e638d38"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="d0dcbe2d-923b-dc9c-63a6-d0b1c29595c5"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }
}

@media (max-width: 767px) and (min-width:480px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="22dfe9b3-75cf-698e-dc7a-6bc2b3723a61"] {
        width: 100%;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="86218919-4662-309f-b263-8a7534869b8a"] {
        width: 100%;
        height: 100%;
        -webkit-transform: translate3d(null, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(null, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(null, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(null, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="0822006c-364b-ff71-7102-f629c8b2c373"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="34433cd0-06ea-1cef-c206-e65920d9b55f"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a088f488-e35d-5301-d97b-a011c5602540"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="cf3c6155-b7f5-3b06-0b72-63822514a1e6"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="84ff30f1-1080-cdbf-a365-14dc8e638d38"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="d0dcbe2d-923b-dc9c-63a6-d0b1c29595c5"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }
}

@media (max-width: 479px) {
    html.w-mod-js:not(.w-mod-ix) [data-w-id="22dfe9b3-75cf-698e-dc7a-6bc2b3723a61"] {
        width: 100%;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="86218919-4662-309f-b263-8a7534869b8a"] {
        width: 100%;
        height: 100%;
        -webkit-transform: translate3d(null, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -moz-transform: translate3d(null, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        -ms-transform: translate3d(null, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
        transform: translate3d(null, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="0822006c-364b-ff71-7102-f629c8b2c373"] {
        opacity: 0;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="34433cd0-06ea-1cef-c206-e65920d9b55f"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="a088f488-e35d-5301-d97b-a011c5602540"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="cf3c6155-b7f5-3b06-0b72-63822514a1e6"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="84ff30f1-1080-cdbf-a365-14dc8e638d38"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }

    html.w-mod-js:not(.w-mod-ix) [data-w-id="d0dcbe2d-923b-dc9c-63a6-d0b1c29595c5"] {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -moz-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        -ms-transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform: translate3d(0, 20px, 0) scale3d(1, 1, 1) rotateX(-89deg) rotateY(0) rotateZ(null) skew(0, 0);
        transform-style: preserve-3d;
    }
}

@media screen and (max-width: 991px) {
    .w-container {
        max-width: 728px;
    }

    .w-hidden-main {
        display: inherit !important;
    }

    .w-hidden-medium {
        display: none !important;
    }

    .w-col-medium-1 {
        width: 8.33333%;
    }

    .w-col-medium-2 {
        width: 16.6667%;
    }

    .w-col-medium-3 {
        width: 25%;
    }

    .w-col-medium-4 {
        width: 33.3333%;
    }

    .w-col-medium-5 {
        width: 41.6667%;
    }

    .w-col-medium-6 {
        width: 50%;
    }

    .w-col-medium-7 {
        width: 58.3333%;
    }

    .w-col-medium-8 {
        width: 66.6667%;
    }

    .w-col-medium-9 {
        width: 75%;
    }

    .w-col-medium-10 {
        width: 83.3333%;
    }

    .w-col-medium-11 {
        width: 91.6667%;
    }

    .w-col-medium-12 {
        width: 100%;
    }

    .w-col-stack {
        width: 100%;
        left: auto;
        right: auto;
    }
}

@media screen and (max-width: 767px) {

    .w-hidden-main,
    .w-hidden-medium {
        display: inherit !important;
    }

    .w-hidden-small {
        display: none !important;
    }

    .w-row,
    .w-container .w-row {
        margin-left: 0;
        margin-right: 0;
    }

    .w-col {
        width: 100%;
        left: auto;
        right: auto;
    }

    .w-col-small-1 {
        width: 8.33333%;
    }

    .w-col-small-2 {
        width: 16.6667%;
    }

    .w-col-small-3 {
        width: 25%;
    }

    .w-col-small-4 {
        width: 33.3333%;
    }

    .w-col-small-5 {
        width: 41.6667%;
    }

    .w-col-small-6 {
        width: 50%;
    }

    .w-col-small-7 {
        width: 58.3333%;
    }

    .w-col-small-8 {
        width: 66.6667%;
    }

    .w-col-small-9 {
        width: 75%;
    }

    .w-col-small-10 {
        width: 83.3333%;
    }

    .w-col-small-11 {
        width: 91.6667%;
    }

    .w-col-small-12 {
        width: 100%;
    }
}

@media screen and (max-width: 479px) {
    .w-container {
        max-width: none;
    }

    .w-hidden-main,
    .w-hidden-medium,
    .w-hidden-small {
        display: inherit !important;
    }

    .w-hidden-tiny {
        display: none !important;
    }

    .w-col {
        width: 100%;
    }

    .w-col-tiny-1 {
        width: 8.33333%;
    }

    .w-col-tiny-2 {
        width: 16.6667%;
    }

    .w-col-tiny-3 {
        width: 25%;
    }

    .w-col-tiny-4 {
        width: 33.3333%;
    }

    .w-col-tiny-5 {
        width: 41.6667%;
    }

    .w-col-tiny-6 {
        width: 50%;
    }

    .w-col-tiny-7 {
        width: 58.3333%;
    }

    .w-col-tiny-8 {
        width: 66.6667%;
    }

    .w-col-tiny-9 {
        width: 75%;
    }

    .w-col-tiny-10 {
        width: 83.3333%;
    }

    .w-col-tiny-11 {
        width: 91.6667%;
    }

    .w-col-tiny-12 {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .w-nav-brand {
        padding-left: 10px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1350px;
    }

    .newsletter-section,
    .hero-image-holder {
        width: 50%;
    }

    .tabs {
        justify-content: flex-start;
    }

    .tabs-menu {
        width: 50%;
        min-width: 60%;
    }

    .tab-link {
        padding-top: 19px;
        padding-bottom: 19px;
    }

    .tabs-content {
        width: 50%;
        min-width: 50%;
    }

    .map {
        right: 11.6vw;
    }

    .tab-pane {
        padding-left: 103px;
        padding-right: 103px;
    }

    .slider-lines-container {
        right: -5%;
    }
}

@media screen and (max-width: 991px) {
    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 50px;
    }

    .section.grey-section.author {
        margin-top: -209px;
    }

    .container.footer-container {
        margin-top: 0;
    }

    .button.with-arrow {
        margin-right: 13px;
        padding-right: 24px;
    }

    .button.subscribe-button {
        background-position: 32%;
    }

    .grid-6-col {
        grid-column-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .grid-8-col {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .link-block {
        padding-top: 0;
        padding-bottom: 2px;
    }

    .link-block-underline {
        display: none;
    }

    .footer {
        height: auto;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-flex-container {
        grid-template-columns: 1fr 1fr;
    }

    .menu-button {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .footer-mark-holder {
        margin-top: 0;
        display: none;
        position: static;
        top: 0;
    }

    .footer-shops-holder {
        margin-top: 22px;
    }

    .footer-background-container {
        width: 100%;
        height: 380px;
        top: 4%;
        bottom: auto;
        left: 0%;
        right: 0%;
    }

    .hero-image-decord {
        width: 50px;
        height: 50px;
        top: auto;
        bottom: -25px;
        left: -25px;
        right: auto;
    }

    .product-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .cta-container {
        padding-top: 102px;
        padding-bottom: 102px;
    }

    .sale-badge-container {
        justify-content: flex-start;
    }

    .newsletter-section {
        width: 80%;
    }

    .grid-6-col-cta {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .contact-hero-section-holder {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .contact-hero-section-image {
        width: 100%;
        height: 500px;
        position: static;
    }

    .link-block-menu {
        padding-top: 0;
        padding-bottom: 2px;
    }

    .product-template-grid {
        flex-direction: column;
        grid-template-columns: 1fr;
        display: flex;
    }

    .about-slider-holder {
        height: 100%;
        align-items: center;
    }

    .slider-image-holder {
        width: 270px;
        height: 270px;
        min-height: 270px;
        min-width: 270px;
    }

    .slider-number-container {
        padding: 19px;
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
    }

    .slider-details-container {
        height: 100%;
        grid-row-gap: 40px;
        flex-direction: column;
        padding-right: 81px;
        display: flex;
    }

    .slider-text {
        font-size: 30px;
        position: static;
    }

    .year-text {
        margin-top: 0;
        margin-bottom: 0;
    }

    .slider-lines-container {
        right: 1%;
    }

    .slider-description {
        font-size: 15px;
    }

    .philosophy-card {
        flex-direction: column;
    }

    .philosophy-card-left-side {
        width: 100%;
        min-width: 100%;
    }

    .card-break {
        width: 100%;
        height: 80px;
        min-width: 100%;
    }

    .blog-post-featured-container {
        flex-direction: column;
    }

    .blog-post-featured-main-image-container {
        width: 100%;
        min-width: 100%;
    }

    .featured-author-container {
        margin-top: 0;
    }

    .blog-grid {
        grid-template-columns: 1fr 1fr;
    }

    .author-border-container {
        padding: 27px;
    }

    .author-holder {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .blured-circle-holder {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 22px;
    }

    h6 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .section.hero-section {
        height: 100vh;
        padding-top: 0;
        padding-bottom: 0;
    }

    .hero-section {
        height: auto;
    }

    .nav-menu {
        height: 110vh;
    }

    .grid-8-col {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .grid-4-col {
        grid-template-columns: 1fr 1fr;
    }

    .change-log-container {
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer-background-container {
        height: 370px;
    }

    .overlay {
        background-image: linear-gradient(to top, #1a1a1a, rgba(26, 26, 26, 0));
    }

    .hero-image-container {
        width: 100%;
        height: 50%;
        position: static;
        overflow: hidden;
    }

    .hero-image {
        width: 100%;
    }

    .hero-link-holder._05 {
        width: 100%;
        display: flex;
    }

    .hero-image-decord {
        display: none;
    }

    .category-holder {
        padding-top: 0;
        padding-bottom: 0;
    }

    .category-list {
        flex-direction: column;
    }

    .category-card-container {
        height: 150px;
    }

    .category-text-holder {
        justify-content: flex-start;
        align-items: flex-end;
        padding: 11px;
    }

    .category-text {
        width: auto;
        height: auto;
    }

    .category-name {
        display: block;
        position: static;
        transform: none;
    }

    .product-grid {
        grid-template-columns: 1fr 1fr;
    }

    .features-left-section-container {
        padding: 14px;
    }

    .hero-image-holder {
        width: 100%;
        max-width: none;
        min-width: 0;
        position: relative;
    }

    .animation-on-load-01.slide {
        height: 100%;
    }

    .link-block-menu {
        font-size: 40px;
    }

    .nav-menu-links-container {
        grid-row-gap: 18px;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-menu-footer-links {
        align-items: center;
        display: flex;
    }

    .nav-menu-image-holder {
        width: 100vw;
        height: 260px;
        min-height: 260px;
        top: 0%;
        bottom: auto;
        left: 0%;
        right: 0%;
    }

    .nav-menu-image {
        width: 100%;
        height: 100%;
        max-width: 100%;
        min-height: 100%;
        min-width: 100%;
    }

    .nav-link-holder {
        margin-top: 141px;
    }

    .about-slider-container,
    .slider,
    .slide,
    .mask {
        height: 100%;
    }

    .about-slider-holder {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .slider-image-holder {
        margin-bottom: 49px;
    }

    .slider-details-container {
        height: auto;
    }

    .slider-lines-container {
        top: 0%;
        bottom: 0%;
        left: auto;
        right: 0%;
    }

    .blog-border-container {
        padding-left: 22px;
        padding-right: 22px;
    }

    .rich-text-container {
        width: 100%;
    }

    .externals-wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width: 479px) {
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 26px;
    }

    p {
        font-size: 15px;
        font-weight: 300;
    }

    .section.black-section {
        overflow: hidden;
    }

    .section.hero-section {
        justify-content: space-between;
    }

    .section.grey-section.author {
        margin-top: -122px;
    }

    .container {
        padding: 1em;
    }

    .container.nav-container {
        padding-left: 4px;
        padding-right: 4px;
    }

    .container.footer-container {
        padding-bottom: 1em;
    }

    .container.hero-container {
        height: 80%;
        align-items: center;
        padding-top: 1em;
    }

    .container.categroy-container {
        padding: 2.5em 10px;
    }

    .container._6ems {
        padding-top: 3em;
        padding-bottom: 3em;
    }

    .container.menu-holder {
        height: auto;
        padding-top: 0;
    }

    .nav-menu {
        z-index: 1;
    }

    .white-text.home-page {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 19px;
    }

    .button.subscribe-button {
        background-position: 13%;
        padding-left: 47px;
    }

    .grid-6-col {
        grid-template-columns: 1fr;
    }

    .header-holder {
        height: 110px;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .grid-8-col {
        grid-template-columns: 1fr 1fr;
    }

    .grid-2-col {
        grid-template-columns: 1fr;
    }

    .heading-text-container {
        padding: 15px;
    }

    .utility-page-content {
        padding: 29px;
    }

    .utility-page-form {
        height: 420px;
        justify-content: space-between;
        padding: 30px;
    }

    .paragraph-m.answer {
        font-size: 12px;
    }

    .footer {
        text-align: left;
        padding: 110px 5px 5px;
    }

    .footer-flex-container {
        flex-direction: column;
        grid-template-columns: 1fr;
        display: flex;
    }

    .footer-heading {
        margin-top: 20px;
    }

    .grey-text.home-page {
        font-size: 14px;
    }

    .navbar-menu-holder {
        grid-column-gap: 8px;
    }

    .brand-image-black {
        width: 110px;
    }

    .navbar-icons-holder {
        grid-column-gap: 11px;
    }

    .navbar-icons-container {
        z-index: 30;
    }

    .footer-background-container {
        height: 230px;
    }

    .infinite-loop-text-holder {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .infinite-loop-logo-holder {
        width: 40px;
    }

    .infinite-text {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 20px;
    }

    .hero-image-container {
        height: 50%;
        position: static;
        top: auto;
        bottom: 0%;
        left: 0%;
        right: 0%;
        overflow: hidden;
    }

    .product-grid {
        grid-template-columns: 1fr;
    }

    .add-to-cart-icon {
        width: 42px;
        height: 42px;
        min-height: 42px;
        min-width: 42px;
        background-size: 32px;
        padding: 0;
    }

    .features-card-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .features-left-section-container {
        min-width: 50%;
        grid-row-gap: 40px;
        flex: none;
        padding: 11px;
    }

    .features-left-section {
        height: 50%;
        flex-direction: row;
    }

    .light-text.home-page {
        font-size: 14px;
    }

    .features-right-section-container {
        flex: none;
    }

    .features-right-section {
        height: 50%;
        flex-direction: row;
    }

    .newsletter-section {
        width: 100%;
    }

    .newsletter-bg-image-container._01 {
        width: 120px;
    }

    .newsletter-bg-image-container._02 {
        width: 80px;
    }

    .newsletter-bg-image-container._03 {
        width: 90px;
    }

    .newsletter-bg-image-container._04 {
        width: 120px;
        top: 16%;
        left: 71%;
    }

    .newsletter-bg-image-container._05 {
        width: 180px;
        top: 26%;
        left: -20%;
    }

    .newsletter-bg-image-container._06 {
        width: 160px;
        top: 78%;
    }

    .hero-image-holder {
        align-items: flex-end;
        position: static;
    }

    .category-small-container.no-margins {
        z-index: 9;
    }

    .dropdown-toggle.category {
        width: 100%;
        justify-content: space-between;
    }

    .dropdown.category {
        width: 100%;
    }

    .golden-cta-container {
        padding-top: 103px;
        padding-bottom: 103px;
    }

    .grid-6-col-cta {
        grid-template-columns: 1fr;
    }

    .cart-container {
        max-width: 100%;
        min-width: 100%;
        padding: 20px;
    }

    .contact-hero-section-holder {
        padding-top: 84px;
    }

    .tabs {
        flex-direction: column-reverse;
    }

    .tabs-menu {
        width: 100%;
        min-width: 100%;
        padding-top: 23px;
        padding-bottom: 23px;
    }

    .tabs-content {
        width: 100%;
        min-width: 100%;
    }

    .tab-pane {
        width: 100%;
        height: 310px;
    }

    .contact-card-container {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .link-block-menu {
        font-size: 30px;
    }

    .links-holder {
        grid-row-gap: 20px;
        flex-direction: column;
    }

    .nav-menu-image-holder {
        height: 100%;
        min-height: 0;
        padding-top: 67px;
        position: static;
    }

    .nav-menu-image-holder.nav-link-image {
        display: none;
    }

    .nav-menu-image {
        position: static;
    }

    .nav-link-holder {
        margin-top: 0;
    }

    .nav-manu-mask {
        flex-direction: column-reverse;
        display: flex;
    }

    .product-category-item {
        grid-column-gap: 10px;
        grid-row-gap: 0px;
        flex-flow: wrap;
    }

    .category-text-gold.minus {
        display: none;
    }

    .button-group {
        grid-row-gap: 10px;
        flex-flow: wrap;
        align-items: flex-start;
    }

    .product-category-list {
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .review-slider-mask {
        width: 100%;
    }

    .slider-left-arrow {
        right: 15%;
    }

    .about-hero-container {
        height: auto;
    }

    .slide {
        padding-top: 48px;
        padding-bottom: 73px;
    }

    .slider-image-holder {
        width: 150px;
        height: 150px;
        min-height: 150px;
        min-width: 150px;
        margin-bottom: 51px;
    }

    .right-arrow {
        top: -202px;
    }

    .about-slider-left-arrow {
        top: 167px;
    }

    .philosophy-card-left-side {
        padding: 16px;
    }

    .card-break {
        height: 50px;
    }

    .philosophy-card-right-side,
    .testimonial-holder {
        padding: 16px;
    }

    .price-checkout {
        font-size: 13px;
    }

    .blog-post-featured-details-container.classic {
        padding-left: 14px;
        padding-right: 14px;
    }

    .blog-post-featured-details-container.center-text {
        text-align: left;
        align-items: flex-start;
    }

    .blog-featured-wrapper {
        margin-top: 20px;
    }

    .blog-black-card-thumbnail-holder.small {
        margin-bottom: 12px;
    }

    .classic-blog-card {
        grid-column-gap: 10px;
        grid-row-gap: 30px;
        flex-direction: column;
    }

    .classic-blog-thumbnail-holder {
        width: 100%;
        min-width: 0;
    }

    .blog-grid {
        grid-template-columns: 1fr;
    }

    .blog-white-card-container {
        padding-bottom: 12px;
    }

    .blog-border-container {
        text-align: left;
        padding-top: 343px;
    }

    .blog-main-image-holder {
        height: 270px;
    }

    .author-border-container {
        margin-top: 40px;
        padding: 13px;
    }

    .author-picture-holder {
        width: 150px;
        height: 150px;
        min-height: 150px;
        min-width: 150px;
        padding: 7px;
    }

    .brand-image-white {
        width: 110px;
    }

    .navbar-search-popup {
        z-index: 0;
        width: 0;
        background-color: #fff;
    }

    .title-holder {
        grid-row-gap: 10px;
        flex-direction: column;
        display: flex;
    }

    .slider-title {
        font-size: 19px;
    }

    .externals-wrapper {
        text-align: center;
        justify-content: center;
        align-items: flex-start;
    }

    .external-link-holder {
        text-align: left;
        flex-direction: column;
        align-items: flex-start;
    }

    .buy-template-holder {
        margin-bottom: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }
}

#w-node-bd183f7b-154c-980d-b9b1-bc5390021e83-ee6eeb4f {
    grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-_99f7b184-4651-a5c3-c4c9-444ef4eefee1-ee6eeb4f {
    grid-area: 1 / 6 / 2 / 7;
}

#w-node-_570e58c7-60e4-68d3-19c4-9d8388c3abd1-ee6eeb4f {
    grid-area: span 1 / span 2 / span 1 / span 2;
    align-self: start;
}

#w-node-_1521a70f-a1c6-18da-cd7a-1eeb1eaff1c9-ee6eeb4f {
    grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_0ab7d26e-83c9-9d10-7b38-ca31ec89dd37-ee6eeb4f {
    grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-_0ab7d26e-83c9-9d10-7b38-ca31ec89dd3a-ee6eeb4f {
    grid-area: 1 / 6 / 2 / 7;
}

#w-node-_5de6db3e-329f-d373-c439-88135dc911d1-0a144c54 {
    grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_0f174b1a-d806-e98c-ba1c-cb922f75e3c1-0a144c54 {
    grid-area: span 1 / span 5 / span 1 / span 5;
}

#w-node-cf43cb81-3d12-55df-0613-6a090667bd20-6e6eeb54 {
    grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-edb90237-725d-4abb-8b66-6ddd8632e28d-6e6eeb54,
#w-node-_636179ea-09d4-1363-2b36-31136978fb80-6e6eeb54 {
    grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-c3eb9be0-c7fe-4771-fbc0-63144788750e-6e6eeb54 {
    grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_1910c8a7-0faf-f430-8b57-a6df0a58eda1-6e6eeb54 {
    grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-_7df055d6-7b42-0b62-d328-1b169960294e-6e6eeb54,
#w-node-_6a85f28c-3bfc-c6b5-8b14-1fb4ad4b1024-6e6eeb54,
#w-node-_2d7d490f-4061-a8fa-3c30-01f1454bf81f-6e6eeb54 {
    grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_6bb5aeaf-6b14-3c04-4aac-2b4453187d3c-53187d38 {
    grid-area: span 1 / span 3 / span 1 / span 3;
    align-self: center;
}

#w-node-_6bb5aeaf-6b14-3c04-4aac-2b4453187d3f-53187d38 {
    grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-_74754042-f569-6ff2-bf79-0aa1d01c63e3-d16eeb5a,
#w-node-_51afad64-b371-59d8-9be3-be57608b8d05-d16eeb5a,
#w-node-_6f252097-c1b9-b13b-1a9c-5c484df0e808-d16eeb5a,
#w-node-dd944cbf-04d0-c864-5723-705aa7a9a61a-d16eeb5a,
#w-node-_8ed1b952-23ff-bc0f-8964-7935e1d755b8-d16eeb5a,
#w-node-eb8dec28-6d4f-c86f-c68f-8ba9fc65946d-d16eeb5a,
#w-node-babb1a74-1ca8-4e3b-31b3-e12d0db617bd-d16eeb5a,
#w-node-bdac6aad-ea46-de38-5682-bb015f0792da-d16eeb5a,
#w-node-eb817875-6024-a502-e779-eda35e78cc93-d16eeb5a,
#w-node-_48a7b1d3-b07a-497b-d5ee-44049694be04-d16eeb5a,
#w-node-d153327e-0b89-53f6-8af6-bfb408d9df35-d16eeb5a,
#w-node-b40307ba-5bc6-bd78-6e19-712b5713de87-d16eeb5a,
#w-node-_548a5b34-b2c2-5a0b-7e8c-aacb07ebb25f-d16eeb5a {
    grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_04ac8371-6878-f2eb-56f7-0f4c4310bcd5-a35bd841,
#w-node-a01246b8-f3a9-e98a-c4e6-3df7d3bca9c7-a35bd841,
#w-node-_4e470954-1265-27a0-e34f-5482bdb57cba-a35bd841,
#w-node-da1c3f66-0694-d904-c0d3-15fff4d46e96-a35bd841,
#w-node-_5a1790fe-3e85-72d3-9345-2fe2c09a4756-a35bd841,
#w-node-_5e65b295-c032-c819-7f8d-c1642858b4df-a35bd841 {
    grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-e917f83e-203e-2ef7-ceea-9cfb85a0f025-f25bd842 {
    grid-area: 1 / 2 / 2 / 8;
}

#w-node-_62f3a1ab50d801c9955bd84b00000000000c-325bd84a {
    grid-area: span 1 / span 5 / span 1 / span 5;
}

#w-node-_62f3a1ab50d801c9955bd84b000000000096-325bd84a {
    grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-_04a49bcf-1cc2-e10a-ec83-4f3503de43c9-c5346dc1 {
    grid-area: 1 / 2 / 2 / 8;
}

#w-node-_2a3b72ad-ff6e-d2bd-95ee-eb3dff8c2e10-a854ba1a {
    grid-area: 1 / 2 / 2 / 6;
}

#w-node-cda9d586-805a-b5d9-2464-749d04e6bfe4-a854ba1a {
    grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-_418ae47e-5ec8-bbc8-d4c9-3196d04cde7b-a854ba1a {
    grid-area: span 1 / span 5 / span 1 / span 5;
}

#w-node-_3abd6cd9-c469-465c-f261-970e527a8d55-a854ba1a {
    grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-_3abd6cd9-c469-465c-f261-970e527a8d59-a854ba1a {
    grid-area: span 1 / span 5 / span 1 / span 5;
}

#w-node-a9c3415c-c152-292c-c3eb-d7483956d989-3731ce4d,
#w-node-_3257b22b-32a3-12b2-3202-b842cac3aff7-3731ce4d {
    grid-area: span 3 / span 1 / span 3 / span 1;
}

#w-node-_97dae82e-1d07-88f4-f709-0a5cd7bc8af6-7206e0c6,
#w-node-_50421bc4-3fd4-ac89-c632-549e7f6159b6-7206e0c6 {
    grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-f5f91031-c4eb-8d89-550c-bd7f1cb6d479-7206e0c6 {
    grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_6ff6a613-9f43-4c5b-3a39-57ff4244a3e6-7206e0c6,
#w-node-_6ff6a613-9f43-4c5b-3a39-57ff4244a3ef-7206e0c6,
#w-node-_6ff6a613-9f43-4c5b-3a39-57ff4244a3f8-7206e0c6 {
    grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-f5f91031-c4eb-8d89-550c-bd7f1cb6d479-c80e88ef {
    grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_6ff6a613-9f43-4c5b-3a39-57ff4244a3e6-c80e88ef,
#w-node-_6ff6a613-9f43-4c5b-3a39-57ff4244a3ef-c80e88ef,
#w-node-_6ff6a613-9f43-4c5b-3a39-57ff4244a3f8-c80e88ef {
    grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_9788e54a-8c2d-dd67-d5d1-768e581d9bb8-69e80dfa {
    grid-area: 1 / 2 / 2 / 8;
}

@media screen and (min-width: 1440px) {
    #w-node-cda9d586-805a-b5d9-2464-749d04e6bfe4-a854ba1a {
        grid-area: span 1 / span 2 / span 1 / span 2;
    }

    #w-node-_418ae47e-5ec8-bbc8-d4c9-3196d04cde7b-a854ba1a {
        grid-column: span 6 / span 6;
    }

    #w-node-_3abd6cd9-c469-465c-f261-970e527a8d55-a854ba1a {
        grid-area: span 1 / span 2 / span 1 / span 2;
    }

    #w-node-_3abd6cd9-c469-465c-f261-970e527a8d59-a854ba1a {
        grid-column: span 6 / span 6;
    }
}

@media screen and (max-width: 991px) {
    #w-node-bd183f7b-154c-980d-b9b1-bc5390021e83-ee6eeb4f {
        grid-area: span 1 / span 5 / span 1 / span 5;
    }

    #w-node-_0ab7d26e-83c9-9d10-7b38-ca31ec89dd37-ee6eeb4f {
        grid-area: span 1 / span 4 / span 1 / span 4;
    }

    #w-node-_0ab7d26e-83c9-9d10-7b38-ca31ec89dd3a-ee6eeb4f {
        grid-area: 1 / 5 / 2 / 7;
        justify-self: end;
    }

    #w-node-_5de6db3e-329f-d373-c439-88135dc911d1-0a144c54 {
        grid-area: span 1 / span 5 / span 1 / span 5;
    }

    #w-node-e917f83e-203e-2ef7-ceea-9cfb85a0f025-f25bd842 {
        grid-area: span 1 / span 6 / span 1 / span 6;
    }

    #w-node-_62f3a1ab50d801c9955bd84b00000000000c-325bd84a,
    #w-node-_62f3a1ab50d801c9955bd84b000000000096-325bd84a {
        grid-column: span 7 / span 7;
    }

    #w-node-_04a49bcf-1cc2-e10a-ec83-4f3503de43c9-c5346dc1 {
        grid-area: span 1 / span 7 / span 1 / span 7;
    }

    #w-node-_2a3b72ad-ff6e-d2bd-95ee-eb3dff8c2e10-a854ba1a {
        grid-area: span 1 / span 3 / span 1 / span 3;
    }

    #w-node-cda9d586-805a-b5d9-2464-749d04e6bfe4-a854ba1a {
        grid-column: span 6 / span 6;
    }

    #w-node-_418ae47e-5ec8-bbc8-d4c9-3196d04cde7b-a854ba1a,
    #w-node-_3abd6cd9-c469-465c-f261-970e527a8d55-a854ba1a,
    #w-node-_3abd6cd9-c469-465c-f261-970e527a8d59-a854ba1a {
        grid-column: span 7 / span 7;
    }

    #w-node-a9c3415c-c152-292c-c3eb-d7483956d989-3731ce4d,
    #w-node-_3257b22b-32a3-12b2-3202-b842cac3aff7-3731ce4d {
        grid-area: span 3 / span 2 / span 3 / span 2;
    }
}

@media screen and (max-width: 767px) {
    #w-node-bd183f7b-154c-980d-b9b1-bc5390021e83-ee6eeb4f {
        grid-area: span 1 / span 3 / span 1 / span 3;
    }

    #w-node-_99f7b184-4651-a5c3-c4c9-444ef4eefee1-ee6eeb4f {
        grid-area: span 1 / span 3 / span 1 / span 3;
        justify-self: end;
    }

    #w-node-_0ab7d26e-83c9-9d10-7b38-ca31ec89dd37-ee6eeb4f,
    #w-node-_0ab7d26e-83c9-9d10-7b38-ca31ec89dd3a-ee6eeb4f {
        grid-area: span 1 / span 3 / span 1 / span 3;
    }

    #w-node-_5de6db3e-329f-d373-c439-88135dc911d1-0a144c54,
    #w-node-_0f174b1a-d806-e98c-ba1c-cb922f75e3c1-0a144c54 {
        grid-column: span 3 / span 3;
    }

    #w-node-e917f83e-203e-2ef7-ceea-9cfb85a0f025-f25bd842 {
        grid-area: span 1 / span 4 / span 1 / span 4;
    }

    #w-node-_62f3a1ab50d801c9955bd84b00000000000c-325bd84a,
    #w-node-_62f3a1ab50d801c9955bd84b000000000096-325bd84a {
        grid-column: span 5 / span 5;
    }

    #w-node-_04a49bcf-1cc2-e10a-ec83-4f3503de43c9-c5346dc1 {
        grid-column: span 4 / span 4;
    }

    #w-node-cda9d586-805a-b5d9-2464-749d04e6bfe4-a854ba1a,
    #w-node-_418ae47e-5ec8-bbc8-d4c9-3196d04cde7b-a854ba1a,
    #w-node-_3abd6cd9-c469-465c-f261-970e527a8d55-a854ba1a,
    #w-node-_3abd6cd9-c469-465c-f261-970e527a8d59-a854ba1a {
        grid-column: span 5 / span 5;
    }
}

@media screen and (max-width: 479px) {

    #w-node-edb90237-725d-4abb-8b66-6ddd8632e28d-6e6eeb54,
    #w-node-_636179ea-09d4-1363-2b36-31136978fb80-6e6eeb54 {
        grid-area: span 1 / span 2 / span 1 / span 2;
    }

    #w-node-_6bb5aeaf-6b14-3c04-4aac-2b4453187d3c-53187d38,
    #w-node-_6bb5aeaf-6b14-3c04-4aac-2b4453187d3f-53187d38 {
        grid-column: span 1 / span 1;
    }

    #w-node-_74754042-f569-6ff2-bf79-0aa1d01c63e3-d16eeb5a,
    #w-node-_51afad64-b371-59d8-9be3-be57608b8d05-d16eeb5a,
    #w-node-e917f83e-203e-2ef7-ceea-9cfb85a0f025-f25bd842 {
        grid-area: span 1 / span 2 / span 1 / span 2;
    }

    #w-node-_62f3a1ab50d801c9955bd84b00000000000c-325bd84a,
    #w-node-_62f3a1ab50d801c9955bd84b000000000096-325bd84a {
        grid-column: span 3 / span 3;
    }

    #w-node-_04a49bcf-1cc2-e10a-ec83-4f3503de43c9-c5346dc1 {
        grid-column: span 2 / span 2;
    }

    #w-node-cda9d586-805a-b5d9-2464-749d04e6bfe4-a854ba1a,
    #w-node-_418ae47e-5ec8-bbc8-d4c9-3196d04cde7b-a854ba1a,
    #w-node-_3abd6cd9-c469-465c-f261-970e527a8d55-a854ba1a,
    #w-node-_3abd6cd9-c469-465c-f261-970e527a8d59-a854ba1a {
        grid-column: span 3 / span 3;
    }

    #w-node-_97dae82e-1d07-88f4-f709-0a5cd7bc8af6-7206e0c6,
    #w-node-_50421bc4-3fd4-ac89-c632-549e7f6159b6-7206e0c6,
    #w-node-f5f91031-c4eb-8d89-550c-bd7f1cb6d479-7206e0c6,
    #w-node-f5f91031-c4eb-8d89-550c-bd7f1cb6d479-c80e88ef {
        grid-column: span 1 / span 1;
    }
}